<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hue controller</title>
</head>
<body>
    <form method = "post">
        {% csrf_token %}
        <ul>
            {% for item in lights %}

            <li><input name="lamp" type="checkbox" value="{{ item.name }}">{{ item.name }}</li>

            {% endfor %}
        </ul>
        <input type="color" name="rgb">
        <input type="range" min="0" max="255" name="bri">

        <button type="submit" name="main" value="apply">apply changes</button>
        <button type="submit" name="main" value="toggle">On - Off</button>
    </form>
</body>
</html>